* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ;    
}

footer {
    padding: 20px;
    margin: 15px;
    color: white;
    background-color: darkslateblue;
    text-align: center;
    border-radius: 5px;
}

#solution{
    padding: 10px;
    margin: 30px;
    background-color: darkslateblue;
    color: white;
    border-radius: 10px;
    height: 200px;
    width: 350px;
}
#questions {
    align-content: center;
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    list-style: none;     
}